
.eswd {
background: url(chrome-extension://deepdaafkdjolfbjbanaeadjaddbpmlj/icon-15.png)
!important;
}

.eswd:hover {
background: url(chrome-extension://deepdaafkdjolfbjbanaeadjaddbpmlj/icon-15.png)
!important;}

.eswa {
background: url(chrome-extension://deepdaafkdjolfbjbanaeadjaddbpmlj/icon-15-inv.png)
!important;}
